sudo: false

language: java

jdk:
  - oraclejdk8

addons:
  apt:
    packages:
      - oracle-java8-installer

branches:
  only:
    - master

install: true

script:
  - chmod +x ./gradlew
  - ./gradlew
